/* Fabiola_Ayon_Practica4.css */

body {
    background-image: url('img/fondoPetalos.png');
}

header {
    display: flex; /* Activa Flexbox */
}

header img {
    width: 150px; 
}

header h1 {
    font-size: 80px; 
    margin-left: 40px;
    font-family: 'Brush Script MT', 'Lucida Handwriting', cursive;
    font-weight: normal;
    color: rgb(247, 151, 180);
}