:root {
    --primary-color: #8a809e; /* Color principal para destacar elementos */
    --secondary-color: #e3d7db; /* Color de fondo general */
    --text-color: #ffffff; /* Color del texto */
    --font-family: Arial, sans-serif; /* Fuente principal */
}

/* Estilos generales */
* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--secondary-color);
}

/* Encabezado */
.header {
    background-color: var(--primary-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    width: 100%;
}

.logo {
    font-size: 1.7rem;
    font-weight: bold;
    color: #dcdae0;
}

.menu {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.menu a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 0.9rem;
}

/* Sección de Promoción */
.promocion {
    position: relative;
    max-height: 50vh;
    overflow: hidden;
}

.promo-img {
    width: 100vw;
    height: 100%;
    max-height: 50vh;
    object-fit: cover;
    object-position: center;
}

/* Dots de navegación */
.promo-dots {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.promo-dots .dot {
    height: 14px;
    width: 14px;
    margin: 0 5px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: 0.3s;
}

.promo-dots .dot:hover,
.promo-dots .dot.active {
    background-color: var(--primary-color);
}

/* Flechas de navegación */
.arrow {
    font-size: 5rem;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.left {
    left: 10px;
}

.right {
    right: 30px;
}

/* Sección de Productos y Recomendados */
.productos,
.recomendados {
    background-color: var(--secondary-color);
    padding: 2rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 1rem;
    grid-auto-flow: row;
}

.productos h2,
.recomendados h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: var(--primary-color);
}

#nuestrosProductos {
    grid-column: 1 / 3;
    grid-row: 1;
    font-size: 1.8rem;
    font-weight: bold;
    color: #ffffff !important;
    align-self: end;
    margin-bottom: 0.5rem;
}

.Recomendados {
    grid-column: 3;
    grid-row: 1;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 100;
    color: #ffffff !important;
    align-self: end;
    margin-bottom: 0.5rem;
}

.producto {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    text-align: center;
}

.producto img {
    width: 90%;
    margin: auto;
    object-fit: contain;
    border-radius: 5px;
    max-height: 20vw;
}

.producto-eraser {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.producto-notebook {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.producto-crayons {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
}

.producto-pen {
    grid-row: 2 / 4;
    grid-column: 3 / 4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    min-height: 300px;
}

.producto-pen img {
    width: 100%;
    max-height: 35vw;
    height: auto;
    object-fit: contain;
    border-radius: 5px;
}

.producto-pen .texto {
    font-size: 1rem;
    color: #333;
    margin-top: auto;
    text-align: center;
    padding: 1rem;
}

/* Redes Sociales */
.social {
    text-align: center;
    padding: 1rem;
    background-color: white;
    width: 100%;
}

.social a img {
    width: 32px;
    margin: 0 10px;
}

/* Ubicación */
.ubicacion {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.map {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.5rem;
    flex: 1;
}

.map iframe {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.map p {
    font-size: 0.8rem;
    color: var(--text-color);
    margin: 0;
}

.info {
    position: relative;
    width: 300px;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    clip-path: inset(0 0 0 25%);
}

.info img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.info.move-left {
    transform: translateX(-95px);
}

.texto-info {
    position: absolute;
    color: white;
    font-size: 1rem;
    text-align: left;
    line-height: 0;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    gap: 1rem;
}

.person {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    flex: 1;
}

.person img {
    width: 100%;
    position: absolute;
    top: -20%;
}

/* Footer */
footer {
    background-color: #49516d;
    color: var(--text-color);
    text-align: center;
    padding: 10px 0;
    margin: 0;
}


/* Moviles */
/* He tomado como ejemplo, Dimensions: Samsung Galaxy S8+ */
@media all and (max-width: 768px) {

    /* Ajuste general */
    body {
        font-size: 14px;
    }

    /* Encabezado */
    .header {
        flex-direction: column; 
        text-align: center;
    }

    .menu {
        flex-direction: column; 
        gap: 0.5rem; 
        padding: 0;
    }

    /* Sección Promoción */
    .promocion {
        max-height: 30vh; 
    }

    .promo-img {
        max-height: 30vh;
        object-fit: cover;
    }

    /* Dots de navegación */

.promo-dots .dot {
    height: 10px;
    width: 10px; 
    margin: 0 4px;
    cursor: pointer; 
}

    .arrow {
        font-size: 3rem; 
    }

    .left {
        left: 30px;
      }
      
      .right {
        right: 40px; 
      }

    /* Sección Productos */
    .productos {
        grid-template-columns: 1fr; 
        grid-template-rows: auto;
        gap: 0.5rem;
    }

    .producto {
        padding: 0.5rem; 
    }

    .producto img {
        max-height: 30vw; 
    }

    /* Sección Ubicación */
    .ubicacion {
        flex-direction: column; 
        text-align: center;
        gap: 1rem;
    }

    .map iframe {
        width: 100%;
        height: 150px; 
    }

    .info, .person {
        width: 200px; 
        height: 200px;
    }

    .texto-info {
        font-size: 0.8rem; 
        line-height: 1.2rem; 
    }

    /* Footer de redes sociales */
    .social img {
        width: 24px; 
        margin: 0 5px;
    }
}




















/* Tablets */
@media all and (min-width: 769px) and (max-width: 1024px) {
    :root {
        --primary-color: blue;
    }
}

/* Monitores (Pantallas grandes) */
@media all and (min-width: 1025px) {
    :root {
        --primary-color: green;
    }
}